@font-face {
  font-family: "iconfont"; /* Project id 4851737 */
  src: url('iconfont.woff2?t=1741570962163') format('woff2'),
       url('iconfont.woff?t=1741570962163') format('woff'),
       url('iconfont.ttf?t=1741570962163') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
  content: "\e631";
}

